#include <iostream>
#include <iomanip>
#include <cmath>

using namespace std;

int main()
{
    //Area of a circle
    double radius;
    double area;
    const double pi = 3.14159;

    std::cout << "Enter the radius of the circle: ";
    std::cin >> radius;

    area = pi * radius * radius;

    std::cout << std::fixed << std::setprecision(10);
    std::cout << "The area of the circle is: " << std::setprecision(10)<< area << std::endl;
    	std::cout << "The distance between the points is: " << std::setprecision(10)<< distance << std::endl;


    //Fraction additon
    int num1, den1, num2, den2;  

    std::cout << "Enter numerator and denominator of first fraction: ";
    std::cin >> num1 >> den1;

    std::cout << "Enter numerator and denominator of second fraction: ";
    std::cin >> num2 >> den2;

    int sum_num = num1 * den2 + num2 * den1;
    int sum_den = den1 * den2;

    std::cout << "The sum of the fractions is: "
        << sum_num << "/" << sum_den << std::endl;


    //Quadratic formula
    double a, b, c;
    std::cout << "Enter coefficients a, b, and c: ";
    std::cin >> a >> b >> c;

    double upper = sqrt(b * b - 4 * a * c);

    double root_plus = (-b + upper) / (2 * a);
    double root_minus = (-b - upper) / (2 * a);

    std::cout << "Root using + part: " << root_plus << std::endl;
    std::cout << "Root using - part: " << root_minus << std::endl;

    return 0;



}